[user]
    name = Collin Brittle
    email = cnbrittle@gmail.com
[alias]
    s = status -sb
    d = diff -w
    g = grep -Ii
    br = branch -vv
    co = checkout
    up = remote update -p
    amend = commit --amend
    # files not tracked? git d --no-index before.file after.file
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # delete remote branch = git push remote :branch
[color]
    ui = auto
[diff]
    # Consider changing to minimal, or default
    algorithm = patience
[fetch]
    prune = true
    pruneTags = true
[fetch "fsck"]
    zeroPaddedFilemode = warn
    badTimezone = warn
[grep]
    fallbackToNoIndex = true
    lineNumber = true
    patternType = perl
[help]
    autoCorrect = 0
[init]
    defaultBranch = main
[protocol "http"]
    allow = never
[protocol "git"]
    allow = never
[push]
    default = current
[transfer]
    fsckObjects = true
[core]
	sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
