[user]
    name = Collin Brittle
    email = cnbrittle@gmail.com
[alias]
    s = status -sb
    d = diff -w
    g = grep -Ii
    br = branch -vv
    co = checkout
    up = remote update -p
    amend = commit --amend
    added = diff -w --cached
    # files not tracked? git d --no-index before.file after.file
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    # delete remote branch = git push remote :branch
[color]
    ui = auto
[core]
    editor = vim
[diff]
    algorithm = patience
[fetch]
    prune = true
[grep]
    lineNumber = true
    patternType = perl
[help]
    autocorrect = 50
[push]
    default = current
